<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
      <%= render 'books/user', user: @user %>
      <%= render 'books/book', book: @newbook %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <tr>
          <td>
            <%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %>
          </td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>

          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path, class:"btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>